# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=token_index
DB_USER=admin
DB_PASSWORD=admin

TOKEN_MINTS=
HELIUS_API_KEY=
# Multiple tokens
# TOKEN_MINTS=EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v,Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB

# Different backfill period
BACKFILL_DAYS=7  # Last 7 days